.container {
    display: flex;
justify-content: center;
align-items: center;
}

.compass {
  width: 200px;
  height: 200px;
  position: relative;
}

#outer-ring {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
}

#inner-ring {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  border: 1px solid black;
  border-radius: 50%;
}

#needle {
  width: 3px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top center;
  background-color: red;
}
